<!DOCTYPE html>
<html>
<head>
    <title>Canavar Avı</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">SEN</h1>
            <img class="imageYou" src="image/you.png">
            <div class="healthbar">
                <div  :style="{width:userHeal +'%'}" class="healthbar text-center" style="background-color: green; margin: 0; color: white;">
                        {{userHeal}} %
                </div>

            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">CANAVAR</h1>
            <img class="imageYou" src="image/monster.png">

            <div class="healthbar">
                <div :style="{width:monsterHeal +'%'}" class="healthbar text-center" style="background-color: red; margin: 0; color: white;">
                    {{monsterHeal}} %

                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!isGameOn">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame()">YENİ OYUN</button>
        </div>
    </section>
    <section class="row controls" v-if="isGameOn">
        <div class="small-12 columns">
            <button id="attack" @click="attack()">SALDIRI</button>
            <button id="special-attack" @click="specialAttack()">ÖZEL SALDIRI</button>
            <button id="heal" @click="healUp()">İLK YARDIM</button>
            <button id="give-up" @click="giveUp()">PES ET!</button>
        </div>
    </section>
    <section class="row log" v-if="logs.length>0">
        <div class="small-12 columns">
            <ul>
                <li 
                    v-for="log in logs"
                    :class="{'player-turn':log.turn=='U', 'monster-turn':log.turn=='M'}"
                >
                        {{log.text}}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>